<div class="container">
    <h2>Kullanıcılar</h2>
  
    <input
      type="text"
      name="searchTerm"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="İsim ara..."
      class="search-input"
    />
  
    <app-loading *ngIf="isLoading"></app-loading>

    <ul class="tilesWrap">
      <li *ngFor="let user of filteredUsers; let i = index" class="user-card" [routerLink]="['/users', user.id]">
        <h2>{{ i + 1 }}</h2>
        <h3>{{ user.name }}</h3>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Şehir:</strong> {{ user.address.city }}</p>
        <p><strong>Şirket:</strong> {{ user.company.name }}</p>
        <button>Kişi Detayı</button>
      </li>
    </ul>
  </div>
  